@charset "UTF-8";

$breakpoint-up: (
    'sm': 'screen and (min-width: 400px)',
    'md': 'screen and (min-width: 896px)',
    'lg': 'screen and (min-width: 1020px)',
    ) !default;

$breakpoint-down: (
    'sm': 'screen and (max-width: 399px)',
    'md': 'screen and (max-width: 897px)',
    'lg': 'screen and (max-width: 1020px)',
    ) !default;

@mixin mq_up($breakpoint: md) {
    @media #{map-get($breakpoint-up, $breakpoint)} {
        @content;
    }
}

@mixin mq_down($breakpoint: md) {
    @media #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}


html {
    height: 100%;
}
body {
    min-height: 100%;
    height: 100%;
    background: #F5F5F5;
    font-size: 15px;
}

.admin__wrap {
    height: 100%;
}

.admin-sidebar {
    position: fixed;
    overflow-y: scroll;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background: #fff;
    padding: 30px 20px;
}

.admin-sidebar-content {
    margin-bottom: 1em;
    &:last-child {
        margin-bottom: 0;
    }
    .uk-nav-default {
        font-size: 1rem;
    }
    .uk-active {
        font-weight: 700;
    }
}


.admin-content {
    padding: 20px 20px 20px 260px;
    background: #F5F5F5;
    .admin-content-inner {
        background: #fff;
        border-radius: 5px;
        &:not(:first-child) {
            margin-top: 20px;
        }
    }
    .admin-header {
        padding: 20px;
        border-bottom: 1px solid #eee;
        h1 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 0;
        }
    }
    .admin-body {
        padding: 20px;
    }
}


.user__content__box__gray {
    padding: 15px;
    p {
        margin-bottom: 0;
        &.sub-headline {
            font-weight: 700;
            margin-bottom: 3px;
        }
    }
    .user__content__box__gray__inner {
        background: #F7F7F7;
        padding: 15px 0;
        text-align: center;
        &.uk-select {
            padding-left: 20px;
            height: auto;
        }
    }
    input.user__content__box__gray__inner {
        text-align: left;
        padding: 15px;
        height: auto;
    }
    textarea.user__content__box__gray__inner {
        text-align: left;
        width: 100%;
        padding: 15px;
        height: 200px;
        resize: none;
    }
    span {
        display: block;
    }
    .headline {
        padding-left: 20px;
        color: #ACACAC;
        text-align: left;
        line-height: 1;
    }
    .result {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1;
        color: #727272;
    }
    .calculation {
        color: #969696;
    }
}

/* datapicker */
.v3dp__datepicker input[type=text] {
    background: #F7F7F7;
    padding: 15px;
    width: 100%;
    color: #666;
    border: 1px solid #e5e5e5;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border;
}

/* 画像アップロード */
.item__img {
    position: relative;
    overflow: hidden;
    .item__img__inner {
        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }
        img {
            position: absolute;
            object-fit: cover;
            font-family: 'object-fit: cover;';
            width: auto !important;
            height: auto !important;
            max-width: 100% !important;
            max-height: 100% !important;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
        }
    }
}
/* component image-component */

/* 画像一覧表示 */
.upload-detail-img {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    /* 横幅いっぱい */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* 横並び */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    @include mq_down(md) {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .upload-detail-img-inner {
        width: 32%;
        position: relative;
        background: #EDEDED;
        @include mq_down(md) {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(4) {
                margin-right: 2%;
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                margin-bottom: 2%;
            }
        }
        @include mq_up(md) {
            width: 19%;
        }
        img {
            position: absolute;
        }
        .add-file {
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            border: 1px dashed #ED6C73;
            background: #fff;
            &.active {
                display: block;
                input {
                    z-index: 1;
                    cursor: pointer !important;
                }
            }
            &:before {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                -webkit-transform: translate(-50%,-50%) scale(1);
                transform: translate(-50%,-50%) scale(1);
                background: url(/img/icon-add-pink.png) center/contain no-repeat;
                @include mq_up(md) {
                    width: 30px;
                    height: 30px;
                }
            }
            input[type=file] {
                position: absolute;
                opacity: 0;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .change-file {
            cursor: pointer;
            position: absolute;

            width: 35px;
            height: 35px;
            text-align: center;
            display: none;
            @include mq_up(md) {
                width: 40px;
                height: 40px;
                bottom: 0;
                right: 0;
            }
            @include mq_down(md) {
                top: 0;
                left: 0;
            }
            &.active {
                z-index: 10;
                display: block;
            }
            .change-file-inner {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
                img {
                    right: 0;
                    bottom: 0;
                }
                button {
                    position: absolute;
                    right: 0;
                    width: 100%;
                    padding: 10px;
                    width: 35px;
                    height: 35px;
                    border-radius: 3px;
                    resize: none;
                    @include mq_up(md) {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
        @include mq_up(md) {
            .delete-file {
                display: none;
                &.active {
                    display: block;
                }
                &:before,
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
        @include mq_down(md) {
            .delete-icon {
                cursor: pointer;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 35px;
                height: 35px;
                text-align: center;
                display: none;
                img {
                    position: static;
                }
                &.active {
                    z-index: 10;
                    display: block;
                }
            }
        }
    }
}
@include mq_up(md) {
    .upload-detail-img .c-img--cover:hover .delete-file:before {
        background: rgba(0,0,0,0.5);
        z-index: 1;
    }

    .upload-detail-img .c-img--cover:hover .delete-file:after {
        background: url(/img/icon-batsu-white.png) center/contain no-repeat;
        width: 50px;
        height: 50px;
        top: 50%;
        left: 50%;
        z-index: 2;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
}


.v3dp__datepicker input[type=text] {
    background: #F7F7F7;
    padding: 15px;
    width: 100%;
}
