@charset "UTF-8";
/* ----------------------------------------------------------
    color
---------------------------------------------------------- */
/* color - basic */
/* color - parts */
/* backgroundColor */
/* ----------------------------------------------------------
    foundation
---------------------------------------------------------- */
/* base */
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 500;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 1.6;
}
@media screen and (min-width: 1020px) {
  body {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

input, textarea, select {
  border: 1px solid #C3C3C3;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  resize: none;
}
input:focus, textarea:focus, select:focus {
  box-shadow: 0 0 1px 0 black;
  outline: 0;
}

th {
  white-space: nowrap;
}

/* placeholder */
input::placeholder,
textarea::placeholder {
  color: #cccccc;
}

/* IE */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cccccc;
}

/* Edge */
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #cccccc;
}

.wrap {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

@media screen and (min-width: 1020px) {
  .sp-only {
    display: none;
  }
}

@media screen and (max-width: 1019px) {
  .pc-only {
    display: none;
  }
}

/* --------------------------------------------

    z-index

-------------------------------------------- */
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ----------------------------------------------------------
    layout
---------------------------------------------------------- */
.l-footer {
  text-align: center;
  font-size: 10px;
  padding: 10px 0;
}
@media screen and (min-width: 1020px) {
  .l-footer {
    font-size: 12px;
    padding: 15px 0;
  }
}

/*--------------------------------------------------------------------
    共通
--------------------------------------------------------------------*/
.lp-content {
  padding: 48px 0;
}
@media screen and (min-width: 1020px) {
  .lp-content {
    padding: 60px 0;
  }
}
.lp-content .lp-content--inner {
  padding: 0 15px;
}
@media screen and (min-width: 1020px) {
  .lp-content .lp-content--inner {
    padding: 0 30px;
  }
}

/*--------------------------------------------------------------------
    header
--------------------------------------------------------------------*/
.lp-logo {
  text-align: center;
  padding: 10px 0;
}
.lp-logo img {
  width: 120px;
}

/*--------------------------------------------------------------------
    main
--------------------------------------------------------------------*/
/*
    main - スクリーン
*/
.lp-screen {
  position: relative;
}
.lp-screen .lp-screen--text {
  z-index: 1;
  display: inline-block;
  position: absolute;
  left: 5%;
  top: 10%;
  text-align: center;
}
.lp-screen .lp-screen--text p {
  font-weight: 700;
  margin-bottom: 10px;
}
.lp-screen .lp-screen--text img {
  width: 200px;
}
.lp-screen .lp-screen--image:before {
  content: "";
  padding-top: 90%;
  display: block;
}

/*
    main - ビジョン
*/
.lp-vision--headline {
  margin-bottom: 28px;
}
.lp-vision--headline h2 {
  color: #9AD0D5;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.lp-vision--wrap {
  padding: 0 20px;
  text-align: center;
}
.lp-vision--wrap p {
  text-align: center;
}

/*
    main - フロー
*/
.lp-flow {
  background: #F5FBFC;
}

.lp-flow--content {
  position: relative;
  margin-bottom: 10px;
  background: #fff;
  padding: 15px;
}
@media screen and (min-width: 1020px) {
  .lp-flow--content {
    margin-bottom: 20px;
    padding: 40px;
  }
}
.lp-flow--content .decoration {
  display: inline-block;
  position: absolute;
  color: #fff;
  background: #DE787D;
  border-radius: 1px;
  font-weight: 700;
  padding: 0px 15px;
  right: -7px;
  top: 0;
  transform: rotate(10deg);
}
.lp-flow--content:last-child {
  margin-bottom: 0;
}
.lp-flow--content .lp-flow--content--headline {
  margin-bottom: 15px;
}
@media screen and (min-width: 1020px) {
  .lp-flow--content .lp-flow--content--headline {
    margin-bottom: 30px;
  }
}
.lp-flow--content .lp-flow--content--headline span {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #DE787D;
  border-right: 2px dashed #DE787D;
}
.lp-flow--content .lp-flow--content--headline h3 {
  flex: 1;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 700;
}
@media screen and (min-width: 1020px) {
  .lp-flow--content .lp-flow--content--headline h3 {
    font-size: 20px;
  }
}
.lp-flow--content .lp-flow--content--standout {
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
}
@media screen and (min-width: 1020px) {
  .lp-flow--content .lp-flow--content--standout {
    margin-top: 30px;
  }
}

/*
    main - お願い
*/
.lp-note .lp-note--text {
  margin-bottom: 20px;
  text-align: center;
}
.lp-note .lp-note--table {
  background: #FFFEF7;
  padding: 15px;
}
@media screen and (min-width: 1020px) {
  .lp-note .lp-note--table {
    padding: 40px;
  }
}
.lp-note .lp-note--table table {
  width: 100%;
}
.lp-note .lp-note--table table th, .lp-note .lp-note--table table td {
  margin-bottom: 10px;
  text-align: center;
}
.lp-note .lp-note--table table thead th {
  color: #9AD0D5;
  font-weight: 700;
}
.lp-note .lp-note--table table thead th:nth-child(1), .lp-note .lp-note--table table thead th:nth-child(3) {
  width: 40%;
}
.lp-note .lp-note--table table thead th:nth-child(2) {
  width: 10%;
}
.lp-note .lp-note--table table tbody tr {
  background: #fff;
}
.lp-note .lp-note--table table tbody td {
  padding: 10px;
  background: #fff;
  font-weight: 700;
}
.lp-note .lp-note--table table tbody td .note-number {
  font-size: 40px;
}
.lp-note .lp-note--table table tbody td img {
  padding-top: 30px;
  width: 24px;
  vertical-align: middle;
}

/*
    main - 寄付
*/
.lp-donate {
  background: #F5FBFC;
}

.lp-donate--wrap .lp-donate--inner {
  background: #fff;
  padding: 30px 15px;
}
.lp-donate--wrap .lp-donate--inner p {
  text-align: center;
  margin-bottom: 1em;
}

/*
    main - コンバージョン
*/
.lp-conversion {
  padding: 20px;
}

/* ----------------------------------------------------------
    object
---------------------------------------------------------- */
/* component */
.c-button--link {
  max-width: 300px;
  width: 100%;
  margin: auto;
}
.c-button--link a, .c-button--link button {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  height: 63px;
  line-height: 63px;
  border-radius: 63px;
  font-size: 1.05em;
  font-weight: 700;
}
.c-button--link a.contact, .c-button--link button.contact {
  color: #fff;
  background: #DE787D;
}
.c-button--link a.line, .c-button--link button.line {
  color: #fff;
  background: #06C765;
}
.c-button--link a:before, .c-button--link button:before {
  content: "";
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: center/contain no-repeat url(./../img/icon-arrow-right-circle-white.png);
}

.c-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 1019px) {
  .c-flex__sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1020px) {
  .c-flex__pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.c-flex.v-center, .c-flex__sp.v-center, .c-flex__pc.v-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.c-flex.v-top, .c-flex__sp.v-top, .c-flex__pc.v-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media screen and (max-width: 1019px) {
  .c-flex.v-center__sp, .c-flex__sp.v-center__sp, .c-flex__pc.v-center__sp {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media screen and (min-width: 1020px) {
  .c-flex.v-center__pc, .c-flex__sp.v-center__pc, .c-flex__pc.v-center__pc {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.c-flex.h-center, .c-flex__sp.h-center, .c-flex__pc.h-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.c-flex.h-between, .c-flex__sp.h-between, .c-flex__pc.h-between {
  -webkit-box-pack: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.c-flex.h-left, .c-flex__sp.h-left, .c-flex__pc.h-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.c-headline--lp {
  margin-bottom: 28px;
  text-align: center;
}
.c-headline--lp:after {
  content: "";
  display: block;
  width: 38px;
  height: 3px;
  background: #FF7272;
  border-radius: 10px;
  margin: 7px auto 0;
}
.c-headline--lp h2 {
  font-size: 22px;
  font-weight: 700;
}

.c-img--cover {
  position: relative;
}
.c-img--cover img {
  position: absolute;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.c-img--contain {
  position: relative;
}
.c-img--contain img {
  position: absolute;
  object-fit: contain;
  font-family: 'object-fit: contain;';
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.c-text--sentence p:not(:last-child) {
  margin-bottom: 1em;
}

/* project */
/* utility */
.u-align--center {
  text-align: center;
}

.u-align--left {
  text-align: left;
}

.u-align--right {
  text-align: right;
}

.u-color--pink {
  color: #DE787D;
}

.u-color--blue {
  color: #9AD0D5;
}

.u-font--big {
  font-size: 1.1em;
}

.u-font--small {
  font-size: 0.9em;
}

.u-mb10 {
  margin-bottom: 10px;
}

/*# sourceMappingURL=app.css.map */
