.u-color--pink {
	color: #E06D6B !important;
}
.u-color--orange {
	color: #e78b1a !important;
}

.u-color--grayNavy {
	color: #858C90 !important;
}
.u-color--yellow {
	color: #EAA524 !important;
}
.u-color--green {
	color: #5CC964 !important;
}
.u-color--blue {
	color: #3E89E0 !important;
}
/* bg */
.u-bgColor--white {
	background: #fff !important;
}
.u-bgColor--gray {
    background: #F7F5F5 !important
}
